/* POST01 */
.po1_inputSec {
    padding: 40px 20px;
    background-color: #FFFFFF;
}

@media (min-width: 760px) {
    .po1_inputSec {
        width: 100%;
        max-width: 592px;
        margin: 0 auto;
        padding: 64px 0;
    }
}

.po1_inputList>li:not(:first-child) {
    padding-top: 24px;
}