<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>GAS調査｜Post</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../gas_files/css/reset_MYEFXXXX.css?20240214">
    <link rel="stylesheet" href="../gas_files/css/components_MYEFXXXX.css?20240214">
    <link rel="stylesheet" href="../gas_files/css/common_post.css?20240214">
    <!-- 個別CSS -->
    <link rel="stylesheet" href="../gas_files/css/post01.css?20240214">
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <h1 class="c_typo_headerL c_typo_BLK10 c_typo_align_center">Post01</h1>
    </header>

    <!-- メイン -->
    <main>
        <section class="po1_inputSec">
            <ul class="po1_inputList">
                <li>
                    <div class="c_textField02">
                        <div class="c_textField02_labelArea">
                            <p class="c_typo_headerXS c_typo_BLK10 c_typo_align_left">名前</p>
                            <p class="c_typo_headerXS c_typo_ERROR c_typo_align_left">*</p>
                        </div>
                        <div class="c_textField01 c_textField01_SP_L c_textField01_PC_XL"><input
                                class="c_textField01_inputText" placeholder="入力してください" id="po1_id"></div>
                    </div>
                </li>
                <li>
                    <div class="c_textField02">
                        <div class="c_textField02_labelArea">
                            <p class="c_typo_headerXS c_typo_BLK10 c_typo_align_left">パスワード</p>
                            <p class="c_typo_headerXS c_typo_ERROR c_typo_align_left">*</p>
                        </div>
                        <div class="c_textField01 c_textField01_SP_L c_textField01_PC_XL"><input
                                class="c_textField01_inputText" placeholder="入力してください" id="po1_pw"></div>
                    </div>
                </li>
                <li>
                    <div class="c_textField02">
                        <div class="c_textField02_labelArea">
                            <p class="c_typo_headerXS c_typo_BLK10 c_typo_align_left">名前</p>
                            <p class="c_typo_headerXS c_typo_ERROR c_typo_align_left">*</p>
                        </div>
                        <div class="c_textField01 c_textField01_SP_L c_textField01_PC_XL"><input
                                class="c_textField01_inputText" placeholder="入力してください" id="po1_name"></div>
                    </div>
                </li>
            </ul>
        </section>

        <section class="com_btnSec">
            <div class="com_btn">
                <div class="c_button01 c_button01_green" ontouchstart="" id="po1_confirmBtn"><a href="javascript:void(0);">
                        <div class="c_button01_wrapper c_button01_icon_not">
                            <p class="c_typo_cta c_typo_WHT c_typo_align_center">確定する</p>
                        </div>
                    </a></div>
            </div>
            <div class="com_btn">
                <div class="c_button01 c_button01_white" ontouchstart=""><a href="javascript:history.back();">
                        <div class="c_button01_wrapper c_button01_icon_not">
                            <p class="c_typo_cta c_typo_GRN10 c_typo_align_center">戻る</p>
                        </div>
                    </a></div>
            </div>
        </section>
    </main>

    <!-- フッター -->
    <footer>
        <p>ver.1.00</p>
    </footer>

    <!-- 共通JavaScript -->
    <script src="../gas_files/css/event_MYEFXXXX.js?20240214"></script>
    <script src="../gas_files/css/common_post.js?20240214"></script>
    <!-- 個別JavaScript -->
    <script src="../gas_files/css/post01.js?20240214"></script>
</body>

</html>