<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>GAS調査｜Post02</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../gas_files/css/reset_MYEFXXXX.css?20240214">
    <link rel="stylesheet" href="../gas_files/css/components_MYEFXXXX.css?20240214">
    <link rel="stylesheet" href="../gas_files/css/common_post.css?20240214">
    <!-- 個別CSS -->
    <link rel="stylesheet" href="../gas_files/css/post01.css?20240214">
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <h1 class="c_typo_headerL c_typo_BLK10 c_typo_align_center">Post02</h1>
    </header>

    <!-- メイン -->
    <main>
        <section class="po2_infoSec">
            <div class="po2_tableWrapper">
                <div class="c_table05">
                    <div class="c_table05_header">
                        <p class="c_typo_headerM c_typo_WHT c_typo_align_center">ユーザー情報</p>
                    </div>
                    <div class="c_table05_unit">
                        <div class="c_table05_info">
                            <p class="c_typo_headerS c_typo_GRN16 c_typo_align_left">ID</p>
                        </div>
                        <div class="c_table05_detail">
                            <p class="c_typo_bodyS c_typo_BLK10 c_typo_align_left" id="po2_id">10000</p>
                        </div>
                    </div>
                    <div class="c_table05_unit">
                        <div class="c_table05_info">
                            <p class="c_typo_headerS c_typo_GRN16 c_typo_align_left">パスワード</p>
                        </div>
                        <div class="c_table05_detail">
                            <p class="c_typo_bodyS c_typo_BLK10 c_typo_align_left" id="po2_pw">A123456789a</p>
                        </div>
                    </div>
                    <div class="c_table05_unit">
                        <div class="c_table05_info">
                            <p class="c_typo_headerS c_typo_GRN16 c_typo_align_left">名前</p>
                        </div>
                        <div class="c_table05_detail">
                            <p class="c_typo_bodyS c_typo_BLK10 c_typo_align_left" id="po2_name">明安　太郎</p>
                        </div>
                    </div>
                    <div class="c_table05_unit">
                        <div class="c_table05_info">
                            <p class="c_typo_headerS c_typo_GRN16 c_typo_align_left">登録日時</p>
                        </div>
                        <div class="c_table05_detail">
                            <p class="c_typo_bodyS c_typo_BLK10 c_typo_align_left" id="po2_date">2024-02-14-</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="com_btnSec">
            <div class="com_btn">
                <div class="c_button01 c_button01_white" ontouchstart=""><a href="javascript:history.back();">
                        <div class="c_button01_wrapper c_button01_icon_not">
                            <p class="c_typo_cta c_typo_GRN10 c_typo_align_center">戻る</p>
                        </div>
                    </a></div>
            </div>
        </section>
    </main>

    <!-- フッター -->
    <footer>
        <p>ver.1.00</p>
    </footer>

    <!-- 共通JavaScript -->
    <script src="../gas_files/css/event_MYEFXXXX.js?20240214"></script>
    <script src="../gas_files/css/common_post.js?20240214"></script>
    <!-- 個別JavaScript -->
    <script src="../gas_files/css/post01.js?20240214"></script>
</body>

</html>